<h1 class="lobby-title">Game Lobby</h1>

  <div class="lobby-window">
    <div class="lobby-info">
      <div class="lobby-header">
        <div class="player-section">
          <p class="player-text">Username</p>
        </div>
        <div class="player-section">
          <p class="player-text">Ready</p>
        </div>
      </div>
      {{#each players}}
      <div class="player">
        <div class="player-section">
          <p class="player-text">{{username}}</p>
        </div>
        <div class="player-section">
          <p class="player-text">Not Ready</p>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="lobby-button-container">
    <form class="lobby-form" action="/lobby/startGame/{{gameId}}" >
      <button class="lobby-button" type="submit">Start Game</button>
    </form>
    <form class="lobby-form" action="/lobby/ready/{{gameId}}">
      <button class="lobby-button"> Ready</button>
    </form>
    <form class="lobby-form" action="/lobby/unready/{{gameId}}">
      <button class="lobby-button" type="submit">UnReady</button>
    </form>
    <form class="lobby-form" action="/lobby/leave/{{gameId}}">
      <button class="lobby-button" type="submit">Leave</button>
    </form>
    <form class="lobby-form" method="POST" action="/users/logout">
      <button class="lobby-button" type="submit">Sign Out</button>
    </form>
</div>